<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

<section class="content-header">
	<h1>维护四部通讯录</h1>
</section>

<section class="content">
<div class="row">
<div class="col-xs-12">
  <div class="box">
    <!-- <div class="box-header">
    </div>  -->
    <div class="box-body">
      <table id="address_table" class="table table-bordered table-striped">
        <thead>
          <tr>
				    <th>姓名</th>
				    <th>固定电话</th>
				    <th>手机</th>
				    <th>工位</th>
				    <th></th>
			    </tr>
        </thead>
        <tbody>
        {% for each in address %}
			    <tr>
				    <!-- <td>{{ each.display_id }}</td> -->
				    <td>{{ each.display_name }}</td>
				    <td>{{ each.tel }}</td>
				    <td>{{ each.mobile }}</td>
				    <td>{{ each.office }}</td>
					<!-- <div class="dropdown">
						<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" id="menu1">detail</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">test</a></li>
							</ul>
					</div>-->
						<td>
							<a href="{% url 'get_detail' each.username %}">详情</a>
						</td>
			    </tr>
		    {% endfor%} 	
        </tbody>
       </table>
    </div>
  </div>
</div>
</div>
</section>
<!--<ul class="pagination" id="pagination1" style="margin:center">
	<li><a onclick="showAll()">showAll</a></li>
</ul>
<script>InitPage()</script> -->
<!-- <script src="/static/templates/AdminLTE-2.4.3/bower_components/jquery/dist/jquery.min.js"></script> -->
<script>
	$(document).ready(
  $(function () {
  	$('#address_table').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : false,
      'info'        : true,
      'autoWidth'   : true
    })
  }))
</script>
{% endblock %}
