<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<!-- <form action="{% url 'crud_system' %}" method="POST" class="form-group">
	<select id="address_for_sys">
	</select>
	<input type="text" name="system_name">
	<input type="submit" value="submit">
	</form>
<script>get_address_for_sys('{% url 'get_address' %}')</script>  -->
<!-- <a class="btn btn-default" href="{% url 'system_page' %}">return</a> -->
<!-- <script src="/static/templates/AdminLTE-2.4.3/plugins/input-mask/jquery.inputmask.js"></script>
<script src="/static/templates/AdminLTE-2.4.3/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="/static/templates/AdminLTE-2.4.3/plugins/input-mask/jquery.inputmask.extensions.js"></script>
<script src="/static/jquery-3.3.1.min.js"></script> -->
<script src="/static/templates/AdminLTE-2.4.3/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/system_func.js"></script>
<script>get_address_for_sys('{% url 'get_address' %}','A_role_for_sys')</script>
<script>get_address_for_sys('{% url 'get_address' %}','B_role_for_sys')</script>
  <section class="content-header">
  	<h1 style="display:inline">系统录入</h1><a class="btn btn-info pull-right" href="{% url 'system_page' %}">返回</a>
  </section>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <!-- <div class="box-header with-border">
              <h3 class="box-title">Quick Example</h3>
            </div> -->
            <!-- /.box-header -->
            
            <form role="form">
              <div class="box-body">
              	<div class="box-header with-border">
                  <h3 class="box-title">系统信息</h3>
                </div>
              	<div class="row">
                  <div class="form-group">
                    <div class="col-xs-5">
                    	<label for="exampleInputEmail1">全称</label>
                      <input class="form-control" id="full_name" placeholder="中文全称">
                    </div>

                	  <div class="col-xs-3">
                      <label for="exampleInputPassword1">缩写</label>
                      <input class="form-control" id="short_name" placeholder="英文缩写">
                    </div>
                  </div>
                </div>
                <div class="box-header with-border">
                  <h3 class="box-title">角色信息</h3>
                </div>
                <div class="row">
                  <div class="form-group">                
                    <div class="col-xs-3">
                    	<label for="exampleInputEmail1">A角</label>
                      <select class="form-control select2" style="width: 100%;" id="A_role_for_sys">
			                  <option selected="selected"></option>
			                </select>
                    </div>
                  <!-- </div>
                  <div class="form-group"> -->
                	  <div class="col-xs-3">
                      <label for="exampleInputPassword1">B角</label>
                      <select class="form-control select2" style="width: 100%;" id="B_role_for_sys">
			                  <option selected="selected"></option>
			                </select>
                    </div>
                  </div>
                </div>
                <div class="box-header with-border">
                  <h3 class="box-title">IP信息</h3>
                </div>
                <div class="row">
		              <div class="form-group">
		              	<div class="col-xs-8">
		              		<div class="input-group col-xs-8">
			                	<label>IP Group:</label>
			                	<button type="button" class="btn btn-info pull-right" onclick="add_ip_text('#IP_group')">添加IP</button>
			              	</div>
			                <div id="IP_group">
			                	<div class="input-group col-xs-8">
			                  	<div class="input-group-addon">
			                    	<i class="fa fa-laptop"></i>
			                  	</div>
			                  	<input type="text" class="form-control" data-inputmask="'alias': 'ip'" data-mask>
			                  	<div class="input-group-btn" style="visibility:hidden">
                  					<button type="button" class="btn btn-danger" onclick="delete_ip_text(this)">DELETE</button>
                					</div>
			                	</div>
			                </div>
		                </div>
		                <!-- /.input group -->
		              </div>
	              </div>
	              
                <!-- <div class="form-group">
                  <label for="exampleInputFile">File input</label>
                  <input type="file" id="exampleInputFile">

                  <p class="help-block">Example block-level help text here.</p>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Check me out
                  </label>
                </div> -->
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-primary" onclick="add_system('{% url 'crud_system' %}')">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
{% endblock %}